$colorWhite: #fff;
$colorOrange: #f96f00;
$colorBlack: #000;
$colorGray: #777;
$colorlightGray: #f2e7eb;
$secBg: #f7f7f7;
$fontDidact: "Didact Gothic", sans-serif;
$fontBarlow: "Barlow Condensed", sans-serif;
