@import "./redyScss/--varibale.scss";
@import "./redyScss/--mixin.scss";

#banner {
  background-image: url(img/headerBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;

  .overflow {
    position: absolute;
    background: rgba($color: $colorBlack, $alpha: 0.4);
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .containerWidth {
    width: 100%;
    height: 100%;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: $colorWhite;
      width: 100%;
      height: 100%;

      .caption {
        position: relative;
        z-index: 999;
        font-family: $fontBarlow;
        width: 320px;

        h5 {
          color: $colorGray;
          font-size: 16px;
          font-weight: 400;
          text-transform: uppercase;
          text-align: center;
          letter-spacing: 10px;
        }

        h1 {
          @include heading($color: $colorWhite, $marginBottom: 0);
          text-align: center;
        }

        span {
          display: block;
          width: 50px;
          height: 50px;
          position: absolute;
        }

        .left {
          top: 0;
          left: 0;
          border-top: 1px solid $colorOrange;
          border-left: 1px solid $colorOrange;
        }

        .right {
          bottom: 0;
          right: 0;
          border-bottom: 1px solid $colorOrange;
          border-right: 1px solid $colorOrange;
        }

        @media screen and (max-width: 375px) {
          width: 255px;
          margin: 0 auto;

          h1 {
            font-size: 50px;
          }
        }
      }
    }

    .downBtn {
      position: absolute;
      bottom: 100px;
      left: 50%;
      z-index: 999;

      button {
        background: transparent;
        outline: none;
        border: none;
        color: $colorWhite;
        position: relative;

        i {
          position: absolute;
          top: 0;
          font-size: 20px;

          &:last-child {
            top: 10px !important;
          }
        }
      }
    }
  }
}
